{% extends './base.html' %}

{% block content %}
   <section class="section is-medium">
    <div class="columns is-centered">
        <div class="column is-10">
           <div class="box">
               <p class="title is-3">Enter announcement</p>
               <form method="post">
                <textarea name="content" id="" class="textarea" rows="20"></textarea>
                <div class="is-flex is-justify-content-center mt-2">
                     <div class="buttons">
                         <input class="button is-primary is-medium" type="submit">
                         <button class="button is-light is-link is-medium" disabled>View Messages</button>
                     </div>
                </div>
               </form>
           </div>
        </div>

    </div>
   </section>
{% endblock %}